@model IEnumerable<Photography.Models.Course>

@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>


@if (User.IsInRole("Administrator"))
{    
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>

                    <!--//add to cart link: a mutable action, a post request-->
                    <form class="d-inline" asp-action="AddToCart">
                        <input type="hidden" name="courseId" value="@item.Id" />

                        <input type="submit" value="Add To Cart" class="btn btn-primary" />
                    </form>

                    <!--
                        <a class="btn btn-primary" asp-controller="Carts" asp-action="AddToCart" asp-route-id="@item.Id">Add to Cart</a>
                    --> 
                    
                    @if (User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>