@model Photography.Models.Order

@{
    if (Model == null || Model.Cart.CartItems == null || Model.Cart.CartItems.Count == 0)
    {
        <div class="alert alert-warning">
            <p>You must add items to your cart!</p>
        </div>

        return;
    }
}

@{
    ViewData["Title"] = "Order Details for " + Model.Cart.User.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="orderDetails_background-img">
        <div class="filter"></div>
        <h1>Order Details</h1>

</section>


<div class="container">


<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cartItem in Model.Cart.CartItems)
            {
                var subtotal = cartItem.Price;

                <tr>
                    <td>@cartItem.Course.CourseName</td>
                    <td>@cartItem.Price</td>
                    <td>@subtotal</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Total:</th>
                <td colspan="3">@Model.Total</td>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to Courses</a>

    @if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-secondary" asp-action="AllOrders">Back to All Orders</a>
    }
</div>

</div>