@model Photography.Models.Gallery

@{
    ViewData["Title"] = "Portfolios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(User.IsInRole("Administrator"))
{
<div class="container">

<p>
            <a class="btn btn-primary" asp-controller="Photos" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photos.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos.FirstOrDefault().Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos.FirstOrDefault().Gallery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Photos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                <partial name="_PhotoImage" model="item" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gallery.GalleryName)
            </td>
            <td>
                <a class="btn btn-warning" asp-controller="Photos" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Photos" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
}

@if(!User.IsInRole("Administrator"))
{
    <div class="Wrapper">
    <ul class="imgWrapper">
        @foreach (var item in Model.Photos)
        {
            <li class="img">
                <partial name="_PhotoImage" model="item" />
            </li>   
        }
    </ul>
    </div>
}